version: "3.7"

services:

  app_proxy:
    environment:
      APP_HOST: moodle_moodle_1
      APP_PORT: 80

  mariadb:
    image: mariadb:10.11
    user: "1000:1000"
    init: true
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "WJ7k2!e4xAqS9tpG44@u"
      MYSQL_DATABASE: "moodle"
      MYSQL_USER: "moodle"
      MYSQL_PASSWORD: "ghZ3#P2vV8!qNf9Le@r"
    volumes:
      - dbdata:/var/lib/mysql
    command:
      - --transaction-isolation=READ-COMMITTED
      - --log-bin=mysql-bin
      - --binlog-format=ROW

  moodle:
    image: moodlehq/moodle-php-apache:latest
    user: "1000:1000"
    init: true
    restart: always
    depends_on:
      - mariadb
    ports:
      - "4319:80"        # custom external port
    environment:
      MOODLE_DOCKER_DBTYPE: mariadb
      MOODLE_DOCKER_DBHOST: mariadb
      MOODLE_DOCKER_DBNAME: moodle
      MOODLE_DOCKER_DBUSER: moodle
      MOODLE_DOCKER_DBPASS: "ghZ3#P2vV8!qNf9Le@r"
    volumes:
      - moodledata:/var/www/moodledata
    expose:
      - "80"

volumes:
  dbdata:
  moodledata:
