version: "3.7"

services:
  app_proxy:
    environment:
      # Umbrel format: <app-id>_<docker-service-name>_1
      APP_HOST: moodle_moodle_1
      APP_PORT: 8080

  mariadb:
    image: mariadb:10.11
    user: "1000:1000"
    init: true
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "WJ7k2!e4xAqS9tpG44@u"
      MYSQL_DATABASE: "moodle"
      MYSQL_USER: "moodle"
      MYSQL_PASSWORD: "ghZ3#P2vV8!qNf9Le@r"
    volumes:
      - dbdata:/var/lib/mysql
    command:
      - --transaction-isolation=READ-COMMITTED
      - --log-bin=mysql-bin
      - --binlog-format=ROW

  moodle:
    image: erseco/alpine-moodle
    user: "1000:1000"
    init: true
    restart: always
    depends_on:
      - mariadb
    ports:
      - "8391:8080"
    environment:
      DB_TYPE: mariadb
      DB_HOST: mariadb
      DB_NAME: moodle
      DB_USER: moodle
      DB_PASS: "ghZ3#P2vV8!qNf9Le@r"
      MOODLE_USERNAME: moodle
      MOODLE_PASSWORD: "CHANGEME"
      MOODLE_EMAIL: "admin@example.com"
      SITE_URL: "http://<YOUR‑HOST‑IP>:8391"
      REVERSEPROXY: "false"
      SSLPROXY: "false"
    volumes:
      - moodledata:/var/www/moodledata

volumes:
  dbdata:
  moodledata:
